.mixinCard{
    margin: 30px auto;
    width: 550px;
    height: 850px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid lightgrey;
    border-radius: 2.5%;
}

.mixinCard > div:not(:first-child) {
    margin: 15px;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 700px;
}

.button-FastForward{
    font-size: 12pt;
    cursor: pointer;
    top: 10px;
    width: 120px;
    height: 40px;
    padding: 6px;
}

.companyProfile {
    background: rgba(235, 232, 232, 0.7)
}

.companyProfile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 86px;
    min-width: 86px;
    max-height: 86px;
    max-width: 86px;
    padding: 2px;
}

.companyProfile-logo > div > img{
    max-height: 100%;
    max-width: 100%;
    min-height: 60%;
	min-width: 60%;
}

.companyProfile-content{
    margin: 0 15px;
    padding: 10px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.companyProfile-info{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 2px 1px;
    margin-left: 15px;
}

.companyProfile-info > div:not(:first-child) {
    margin-top: 6px;
}

.companyProfile-info h3{
    font-size: 18pt;
    font-weight: 600;
    word-break: break-all;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.companyProfile-info span{
    font-size: 14pt;
    font-weight: 300;
    word-break: break-all;
}

.companyProfile-info h3, .companyProfile-info span{
    font-family: 'Quicksand', sans-serif;
}

.companyProfile-content-item-sector > span {
    font-weight: 400;
}

.item-covered{
    width: 100%;
    height: 100%;
}

.item-locked{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    background: rgba(104, 103, 103, 0.2);
    box-shadow: 0 0 3.5px rgba(0,0,0,0.5);;
}

.item-covered-companyProfile-content-name{
    height: 54px;
}

.item-covered-companyProfile-content-sector{
    height: 24px;
}

.financials h2, .technicals h2{
    font-size: 18pt;
    font-weight: 300;
    font-family: 'Mukta Malar', sans-serif;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.financials span, .technicals-indicators-item span{
    font-size: 14pt;
    font-weight: 200;
    font-family: 'Mukta Malar', sans-serif;
}

.lock-icon-sm{
    height: 35%;
}

.lock-icon-md{
    height: 55%;
}

.lock-icon-xl{
    height: 75%;
}

.lock-icon svg{
    display: block;
    width: 100%;
    height: 100%;
}

.item-covered-quotesChart{
    height: 260px;
    width: 520px;
}

.technicals{
    display: flex;
    flex-direction: column;
}

.technicals-datechanger{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.technicals-datechanger-slider{
    width: 80%;
    margin: 0 6px;
}

.technicals-datechanger-currentval{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technicals-datechanger-currentval > span {
    margin-bottom: 5px;
    word-break: break-all;
}

.technicals-datechanger-currentval-animated {
    animation: changeDaysColor 2.5s ease-out; 
}

@keyframes changeDaysColor {
    0% { color: rgb(29, 143, 9)}
    25% { color: rgb(34, 128, 17)}
    50% { color: rgb(41, 107, 29)}
    75% { color: rgb(35, 68, 30)}
    100% { color: rgb(0, 0, 0) }
}

.technicals-indicators{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.technicals-indicators > div:first-child{
    margin-top: 10px;
}

.technicals-indicators > div:not(:first-child){
    margin-top: 10px;
}

.item-covered-technicals{
    width: 520px;
}

.item-covered-technicals-title{
    height: 40px;
    width: 100px;
    margin: 10px 0;
}

.item-covered-technicals-datechanger{
    height: 31px;
}

.item-covered-technicals-indicators{
    height: 300px;
}

.item-covered-technicals-indicators-item{
    height: 31px;
}