.mixinCard{
    align-self: baseline;
    grid-area: card;
    margin: 30px auto;
    width: 550px;
    height: 850px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid lightgrey;
    border-radius: 2.5%;
}

.mixinCard > div:not(:first-child) {
    margin: 15px;
}

.game{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    /* grid-auto-flow: row; */
    grid-template-areas: 
        ". uparrow ."
        "leftarrow card rightarrow"
        ". . .";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 150px 600px 150px;
    grid-gap: 10px;
    margin: auto;
    width: 1000px;
}

.button-FastForward{
    font-size: 12pt;
    cursor: pointer;
    top: 10px;
    width: 120px;
    height: 40px;
    padding: 6px;
}

.button-FastForward-up{
    grid-area: uparrow;
}

.button-FastForward-left{
    grid-area: leftarrow;
    justify-self: end;
}

.button-FastForward-right{
    grid-area: rightarrow;
    justify-self: baseline;
}

.companyProfile {
    background: rgba(235, 232, 232, 0.5);
    &-color {
        &-red{
            background: rgba(231, 139, 139, 0.25);
        }
        &-green{
            background: rgba(128, 206, 132, 0.25);
        }
        &-yellow{
            background: rgba(195, 202, 90, 0.25);
        }
        &-pink{
            background: rgba(226, 148, 167, 0.25);
        }
        &-blue{
            background: rgba(135, 193, 211, 0.25);
        }
    }
}

.companyProfile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 86px;
    min-width: 86px;
    max-height: 86px;
    max-width: 86px;
    padding: 2px;
}

.companyProfile-logo > div > img{
    max-height: 100%;
    max-width: 100%;
    min-height: 60%;
	min-width: 60%;
}

.companyProfile-content{
    margin: 0 15px;
    padding: 10px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.companyProfile-info{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 2px 1px;
    margin-left: 15px;
}

.companyProfile-info > div:not(:first-child) {
    margin-top: 6px;
}

.companyProfile-info h3{
    font-size: 18pt;
    font-weight: 600;
    word-break: break-all;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.companyProfile-info span{
    font-size: 14pt;
    font-weight: 300;
    word-break: break-all;
}

.companyProfile-info h3, .companyProfile-info span{
    font-family: 'Quicksand', sans-serif;
}

.companyProfile-content-item-sector > span {
    font-weight: 400;
}

.item-covered{
    width: 100%;
    height: 100%;
}

.item-locked{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    background: linear-gradient(90deg, rgba(221,221,224,1) 19%, rgba(225,225,228,1) 44%, rgba(232,232,234,1) 64%, rgba(236,236,238,1) 77%, rgba(240,240,242,1) 89%);
    box-shadow: 0 0 3.5px rgba(0,0,0,0.5);;
}

.item-covered-companyProfile-content-name{
    height: 54px;
}

.item-covered-companyProfile-content-sector{
    height: 24px;
}

.financials h2, .technicals h2{
    font-size: 18pt;
    font-weight: 300;
    font-family: 'Mukta Malar', sans-serif;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.financials span {
    font-size: 14pt;
    font-weight: 200;
    font-family: 'Mukta Malar', sans-serif;
}

.lock-icon-sm{
    height: 35%;
}

.lock-icon-md{
    height: 55%;
}

.lock-icon-xl{
    height: 75%;
}

.lock-icon svg{
    display: block;
    width: 100%;
    height: 100%;
}

.item-covered-quotesChart{
    height: 260px;
    width: 520px;
}

.technicals{
    display: block;
}

.technicals-datechanger{
    display: grid;
    grid-template-areas: 
    "slider slider slider"
    "description query currentval";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 25% 25%;
}

.technicals-datechanger-slider{
    grid-area: slider;
    margin: 0 12px 0 12px;
}

.technicals-datechanger-currentval{
    grid-area: currentval;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technicals-datechanger-description{
    grid-area: description;
    margin-left: 12px;
    text-align: center;
}

.technicals-datechanger-description > span{
    font-size: 12px;
    color: grey;
}

.technicals-datechanger-fetcher{
    grid-area: query;
    justify-self: right;
}

.technicals-datechanger-fetcher > button{
    width: 100px;
    background: transparent;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
}

.technicals-datechanger-fetcher > button:active {
    transform: translateX(0%) translateY(0%) scale(0.98);
  }

.technicals-datechanger-currentval > span {
    margin-bottom: 5px;
    word-break: break-all;
}

.technicals-datechanger-currentval-animated {
    animation: changeDaysColor 2.5s ease-out; 
}

@keyframes changeDaysColor {
    0% { color: rgb(29, 143, 9)}
    25% { color: rgb(34, 128, 17)}
    50% { color: rgb(41, 107, 29)}
    75% { color: rgb(35, 68, 30)}
    100% { color: rgb(0, 0, 0) }
}

.technicals-indicators{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 12px;
}

.technicals-indicators > div:first-child{
    margin-top: 10px;
}

.item-covered-technicals{
    width: 520px;
}

.item-covered-technicals-title{
    height: 40px;
    width: 100px;
    margin: 10px 0;
}

.item-covered-technicals-datechanger{
    height: 74px;
}

.item-covered-technicals-indicators{
    height: 300px;
}

.item-covered-technicals-indicators-item{
    height: 30px;
    margin-top: 3px;
    &:first-child{
        height: 36px;
    }
}

.item-covered-techinicals-row{
    height: 20px;
}

.technicals-indicators-tablecell-highlighted{
    border-bottom: 0.25px dashed  rgb(41, 46, 51) !important;
    color: rgb(52, 101, 124) !important;
}