 // navbar
.open_sideNavPanel {
    font-size: 40px;
    margin-left: 20px;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

// nav-toggler  
.nav-toggler {
    width: 48px;
    height: 36px;
    position: relative;
    left: 35px;
    top: 35px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

@media(min-width: 600px) {
    .nav-toggler.nav-toggler-open {
        left: 290px;
    }
}

@media(max-width: 600px) {
    .nav-toggler.nav-toggler-open span {
        background: #5e5b5b !important; 
    }
    
    .nav-toggler.nav-toggler-open {
       z-index: 5;
    }
}

.nav-toggler span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #c9bfbb;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nav-toggler span:nth-child(even) {
    left: 50%;
    border-radius: 0 7.2px 7.2px 0;
}

.nav-toggler span:nth-child(odd) {
    left: 0px;
    border-radius: 7.2px 0 0 7.2px;
}

.nav-toggler span:nth-child(1), .nav-toggler span:nth-child(2) {
    top: 0px;
}

.nav-toggler span:nth-child(3), .nav-toggler span:nth-child(4) {
    top: 14.4px;
}

.nav-toggler span:nth-child(5), .nav-toggler span:nth-child(6) {
    top: 28.8px;
}

.nav-toggler.nav-toggler-open span:nth-child(1), .nav-toggler.nav-toggler-open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggler.nav-toggler-open span:nth-child(2), .nav-toggler.nav-toggler-open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-toggler.nav-toggler-open span:nth-child(1) {
    left: 4px;
    top: 5.6px;
}

.nav-toggler.nav-toggler-open span:nth-child(2) {
    left: calc(50% - 4px);
    top: 5.6px;
}

.nav-toggler.nav-toggler-open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.nav-toggler.nav-toggler-open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav-toggler.nav-toggler-open span:nth-child(5) {
    left: 4px;
    top: 23.2px;
}

.nav-toggler.nav-toggler-open span:nth-child(6) {
    left: calc(50% - 4px);
    top: 23.2px;
}
  
//

.sideNavPanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 75px;
}

.sideNavPanel-open {
    width: 260px;
}

.sideNavPanel a {
    text-align: center;
    padding: 10px 10px 10px;
    text-decoration: none;
    font-size: 26px;
    color: #3f3f3f;
    display: block;
    transition: 0.3s;
}

.sideNavPanel a:hover {
    color: rgb(180, 138, 23);
}

a.sideNavPanel-link-active {
    color: rgb(180, 138, 23);
    text-decoration: underline;
}

.sideNavPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sideNavPanel {padding-top: 15px;}
    .sideNavPanel a {font-size: 18px;}
}

@media(max-width: 600px) {
    .sideNavPanel-open {
        width: 100%;
    }
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(247, 247, 247, 0.041);
}

footer > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer span {
    color:rgb(184, 179, 179);
}

footer a {
    text-decoration: none;
    color:rgb(184, 179, 179);
    &:visited{
        color:rgb(184, 179, 179);
    }
    &:hover{
        color:rgb(238, 176, 176);
    }
}

@media(max-width: 600px) {
    footer span, footer a {
        font-size: 14px;
    }
}

html, body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #3f4c6b, #606c88);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root, #root>div {
    min-height: 100%;
    height: 100%;
}

.main{
    min-height: 100%;
    position: relative;  
}

.main-centre {
    padding-bottom: 100px;
}

.home {
    height: 100%;
    width: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-detail-buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.home-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.home-detail > div:first-child {
    min-width: 200px;
    min-height: 200px;
}

.home-detail-phrase {
    text-align: center;
    margin-top: 40px;
    animation: 1s ease-out 0s 1 slidePhrase;
}

@keyframes slidePhrase {
    0% {
      transform: translateY(150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.home-detail-phrase > span {
    color: rgba(238, 238, 238, 0.726);
}

.home-detail-button > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-detail-button > div > span {
    margin: 0 10px;
}

.home-detail-button {
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 200;
   cursor: pointer;
   width: 160px;
   height: 50px;
   margin: 10px;
   text-align: center;
   text-transform: uppercase;
   color: white; 
   box-shadow: 0 0 4px rgb(172, 166, 166);           
   border-style: solid;
   border-width: 0.5px;
   border-radius: 50px;
   background: transparent;
   border-color: white;
   transition: 0.4s ease-in-out;
   outline: none;
 }

 .home-detail-button:hover {
   color: #fff;
   text-decoration: none;
   box-shadow: none;
 }

 .home-detail-button-play {
    color: rgb(223, 166, 10);
    border-color: rgb(223, 166, 10);
    box-shadow: 0 0 4px rgb(233, 205, 145);
 }

 .home-detail-button-play:hover {
    color: #fff;
    background-color: rgb(223, 166, 10);
    border-color: rgb(168, 123, 26);
 }

 .home-detail-button-rules:hover {
    color: rgb(100, 100, 98);
    background-color:#fff;
    border-color: rgb(114, 113, 108);
 }

 @media(min-width: 600px) and (min-height: 710px) {
    .home-detail {
        margin-top: 70px;
    }
 }

 @media(max-width: 600px) {
    .home-detail-buttons {
        flex-direction: column;
    }
 }

 // rules

 .rules {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
 }

.rules h2, .rules h3 {
    text-align: center;
    font-weight: 200;
    font-family: 'Quicksand', sans-serif;
 }

 .rules h1 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: 200;
 }

 .rules h2 {
    font-size: 32px;
    margin-top: 40px;
    position: relative;
 }

 .rules h2::after {
    content: "";
    width: 100%;
    max-width: 100%;
    transition: max-width 0.2s ease-in-out 0s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.5rem;
 }

 .rules-chart h2::after, .rules-buying-selling h2::after {
    border-bottom: 0.1rem solid rgb(17, 16, 16);
 }

 .rules-balance h2::after {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.7);
 }

 .rules p {
    font-size: 20px;
    font-weight: 300;
    color: rgb(209, 208, 208);
    line-height: 1.8em;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
 }

.rules h1, .rules h2, .rules h3 {
    color: rgb(209, 208, 208);
}

.rules .rules-media-display {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.rules > div {
    display: flex;
    flex-direction: column;
}

.rules > div > div {
    display: flex;
    transition: 0.25s;
    // min-height: 1080px;
    // animation: 1.8s ease-out 0s 1 rulesSlide;
}

// @keyframes rulesSlide {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 100%;
//     }
//   }

.rules hr {
    width: 94%;
    margin: 0 auto;
    border-top: 1px solid rgba(209, 209, 209, 0.555);
    border-bottom: none;
    border-right: none;
    border-left: none;
    animation: 0.75s ease-out 0s 1 lineWidth;
}

@keyframes lineWidth {
    0% {
      width: 0%;
    }
    100% {
      width: 94%;
    }
  }

.rules-card {
    flex: 1 1 auto;
    margin-top: 40px;
}

.rules-card .rules-media-display {
    animation: 0.75s ease-out 0s 1 mediaPop;
}

@media(min-height: 700px) and (min-width: 900px) {
    .rules-card{
        height: calc(100vh - 219px);
    }

    .rules-card .rules-media-display {
        max-height: 65vh;
    }
}

@keyframes mediaPop {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

.rules-chart {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p, h2 {
        color:rgb(17, 16, 16);
    }
}

.rules-chart > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-balance {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: #175183;
}

.rules-balance > div {
    display: flex;
}

.rules-buying-selling{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p, h2 {
        color:rgb(17, 16, 16);
    }
}

.rules-buying-selling-arrows-example {
    display: flex;
    flex-direction: row;
    margin: 38px -10px 50px -10px; 
}

.rules-buying-selling-arrows-example > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rules-buying-selling-modal-example {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 600px) {
    .rules > div > div {
        padding: 0 3%;
        margin: 40px 3% 80px 3%;
        border-radius: 14px;
    }

    .rules-chart > div {
        flex-direction: row;
    }

    .rules-chart > div .rules-media-display, .rules-chart > div p {
        max-width: 550px;
        border-radius: 12px;
        margin: 40px;
    }

    .rules-balance {
        border: 1px solid rgb(173, 173, 173);
    }

    .rules-balance .rules-media-display {
        max-width: 400px;
        border-radius: 8px;
        margin: 0 20px;
    }

    .rules-balance > div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .rules-card {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-color: #264764;
        background-image: -webkit-linear-gradient(135deg, #3e74a3 60%, #f1f1f1 40%);
    }

    .rules-card .rules-media-display, .rules-card p {
        max-width: 375px;
        border-radius: 12px;
        margin: 0 40px;
    }
    
    .rules-card .rules-media-display {
        margin: 40px;
    }

    .rules-buying-selling-arrows-example > div {
        margin: -25px 0;
    }

    .rules-buying-selling-arrows-example > * {
        padding: 0 20px;
    }

    .rules-buying-selling-modal-example {
        flex-direction: row;
    }

    .rules-buying-selling-modal-example .rules-media-display{
        max-width: 550px;
        border-radius: 9px;
    }

    .rules-buying-selling-modal-example .rules-media-display, .rules-buying-selling-modal-example p {
        margin: 40px;
    }

    .rules-class-sep {
        margin-top: 50px;
    }

    p.rules-important {
        margin-top: 50px;
    }
}

@media(max-width: 600px) {
    .rules > div > div {
        padding: 0 20px;
    }

    .rules-chart .rules-media-display {
        max-width: 100%;
        border-radius: 8px;
    }

    .rules-chart > div {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .rules-card {
        flex-direction: column;
    }

    .rules-card .rules-media-display {
        margin-bottom: 40px;
    }

    .rules-card .rules-media-display, .rules-balance .rules-media-display {
        max-width: 100%;
        border-radius: 8px;
    }

    .rules-balance .rules-media-display:last-child{
        margin-top: 30px;
    } 

    .rules-balance > div {
        flex-direction: column;
    }

    .rules-buying-selling-arrows-example{
        flex-direction: column;
    }

    .rules-buying-selling-arrows-example > div {
        margin: 15px 0;
    }

    .rules-buying-selling-modal-example {
        flex-direction: column;
    }

    .rules-buying-selling-modal-example .rules-media-display{
        max-width: 100%;
        border-radius: 8px;
        margin: 10px 0px 30px 0;
    }

    .rules-class-sep {
        margin-top: 35px;
    }

    p.rules-important {
        margin-top: 35px;
    }
}

@media(max-width: 900px) {
    .rules-card {
        flex-direction: column-reverse;
        & p {
            margin-bottom: 40px;
        }
    }

    .rules-balance > div .rules-media-display:last-child {
        margin-top: 40px;
    }

    .rules-balance > div, .rules-buying-selling-arrows-example {
        flex-direction: column;
    }

    .rules-buying-selling-modal-example{
        flex-direction: column-reverse;
    }

    .rules-buying-selling-arrows-example > div {
        margin-top: 40px;
    }
}

@media(max-width: 1100px) {
    .rules-chart > div {
        flex-direction: column;
    }
}

b {
    &.rules-buy{
        color: rgb(34, 170, 10)
    }

    &.rules-sell {
        color: #FF0000;
    }
}

p.rules-important {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(228, 200, 41);
    margin-bottom: 30px;
    padding: 10px;
}
